<html>
<header>
<%= javascript_include_tag :defaults %>
<title>
teste de upload
</title>
</header>
<body>
<div id="resposta">
</div>
<div id="form_upload">
<%= render :partial => 'form' %>
</div>
<iframe id="upload_frame" name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>

</body>
</html>
